{% extends 'clientpage/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
.parallax{
    background-image: url("{{ drive.image.url }}");
    
  min-height: 300px; 
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

    <div class="w3-display-container parallax">
        <div class="w3-display-middle" style="background: rgba(255,255,255,0.8);">
            <div class="w3-container">
            <h1 class="w3-xlarge">{{ drive.name|upper}}</h1>
            </div>
        </div>
    </div>
    <div class="w3-container">
        <h1 class="w3-xlarge">Set Appointment for donation</h1>
        <p>You can also contact us by phone 00553123-2323 or email help@staysafe.com, or you can send us a message here:</p>
        <form method="POST" class="uniForm">
            {% csrf_token %}
            <p class="w3-text-red">{{ form.errors }}</p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="name"></p>
            <p><input class="w3-input w3-padding-16" type="tel" placeholder="Phone number" required name="phonenumber"></p>
            <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="datetime" value="2020-11-16T20:00"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="message"></p>
            <p><button class="w3-button w3-block w3-light-grey w3-section" type="submit">SET APPOINTMENT</button></p>
        </form>
    </div>

{% endblock %}