<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:7;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  {% if user.is_authenticated %}
  
  <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
  <a href="{% url 'dashboard' %}" onclick="w3_close()" class="w3-bar-item w3-button">Drive Page</a>
  <a href="{% url 'account_logout' %}" onclick="w3_close()" class="w3-bar-item w3-button">LOG OUT</a>
        
    {% else %}
  <a href="{% url 'account_login' %}" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>
  <a href="{% url 'account_signup' %}" onclick="w3_close()" class="w3-bar-item w3-button">Sign Up</a>

    {% endif %}
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:100%;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-center w3-padding-16">StaySafe Connect</div>
  </div>
</div>
<div class="w3-main">
{% if messages %}
<div class="w3-display-container" style="margin-top:55px;">
    {% for message in messages%}
        <div class="w3-panel w3-black w3-center w3-display-container w3-margin w3-round-large">
        <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-medium w3-hover-white w3-round-large w3-display-topright">&times;</span>
        <p>{{message}}</p>
        <hr style="height: 4px;background-image: linear-gradient(90deg, #F8049C,#FDD54F);border: 0;"> 
        </div>
    {% endfor %}
</div>
{% else %}
{% endif %}


{% block content %}

{% endblock %}
</div>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
