{% extends 'clientpage/base.html' %}
{% block content %}

<!-- notifications part start -->
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="vapid-key" content="{{ vapid_key }}">
{% if user.id %}
    <meta name="user_id" content="{{ user.id }}">
{% endif %}
<!-- notifications part ends -->

<style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }

      /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    </style>
<script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 19.187229, lng: 72.840747 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });

        {% for e in drives %}
            const contentString{{ forloop.counter }} =
    '<div id="w3-card-4 w3-container w3-padding w3-round-large">' +
    '<p class="w3-large " style="font-weight:bold;">{{ e.name }}</p>'+
    '<p class="w3-small">{{ e.address }}</p>'
    
    "</div>";
             const infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
                    content: contentString{{ forloop.counter }},
                });


            const marker{{ forloop.counter }} = new google.maps.Marker({
                position: { lat:{{ e.latitude|safe }}, lng: {{ e.longitude|safe }}},
                map: map,
                title: "{{e.name}}",
            });
            marker{{forloop.counter}}.addListener("click", () => {
        infowindow{{forloop.counter}}.open(map, marker{{forloop.counter}});
  });
        {% endfor %}

      }

</script>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:43px;">
<div class="w3-panel w3-padding-32">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <h5>Donation Centers</h5>
        <div id="map"></div>
      </div>
      <div class="w3-half" id="vueapp">
        <div>
        <h5>Near You</h5>
        <table class="w3-table w3-card-4 w3-round-large w3-white"  style="margin-right:12px;">
          <div v-if="details">
            <div v-for="inf in info">
                <tr>
                    <td><i class="fa fa-user w3-large"></i></td>
                    <td>[[ inf.driveinfo.name ]]</td>
                    <td><i>[[ inf.distance ]] kms</i></td>
                </tr>
            </div>
                </div>
          <div v-else>
            
            <p> Enable geolocation to get details</p>

          </div>
        </table>
        </div>
      </div>
    </div>
  </div>
  

    <div class="w3-container w3-padding-16">
    <h1 class="w3-large">All Donation Drives</h1>
    {% for d in drives %}
    <div class="w3-card-4 w3-round-large w3-padding-16">
        <div class="w3-row-padding">
            <div class="w3-third w3-center" style="text-align:left;">
                <img class="w3-image w3-circle w3-responsive" style="width:200px; height:200px;margin:auto;" src="{{ d.image.url }}">
            </div>
            <div class="w3-twothird">
            <div class="w3-container">
            <p class="w3-large">{{ d.name }}</p>
            <p class='w3-small'>{{ d.description| truncatechars:140}}</p>
            <p>{{ d.address }}</p>
            <a href="{{ d.get_absolute_url }}" class="w3-button w3-grey">Visit {{ d.name }}</a>
            </div>
            </div>
        </div>
    </div><br>
    {% endfor %}
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

<script>


// have added one parameter to the ajax call, needed for notifications
var app = new Vue({
  delimiters: ["[[", "]]"],
  el: '#vueapp',
    data: {
        info: [],
        details: false,
  },
    mounted() {
            if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(
            (position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
    
                console.log(pos)
                const meta = document.querySelector('meta[name="user_id"]');
                const id = meta ? meta.content : null;
                axios.post('locations/',
                {"latitude": pos.lat, "longitude": pos.lng, "id": id},
                {
                headers: {
                    'X-CSRFTOKEN': csrftoken,
                },
                }
                ).then(res => {
                    console.log(res.data)

                    this.details = true;

                    this.info = res.data.data;
                    console.log('complete')
                })
                }


            )
            }else {
                alert('Browser does not support geolocation')
            }
        },
   methods: {
            

                },
    template:
        `<div class="w3-half">
    
            <h5>Near You</h5>
        <div class="w3-container w3-round-large w3-white" style="margin-right:12px;overflow-y:scroll;max-height:400px;">
          <div v-if="details">
            <br>
            <div v-for="inf in info">
                <div class="w3-container w3-card-4 w3-round-large w3-block" style="width:100%;">

                    <p>[[ inf.driveinfo.name ]]</p>
                    <p>[[ inf.driveinfo.address ]]</p>
                    <p class="w3-large w3-tag w3-red"><i>[[ inf.distance ]] kms</i></p>
                                        <a class="w3-button w3-grey">Visit</a>

                </div><br>
            </div>
                </div>
          <div v-else>
            
            <p> Enable geolocation to get details</p>

          </div>
        </div>
        </div>`
         
})

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/603a6649385de407571aba50/1evi1v4g8';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYUeS2YnGYNzt9kZRc1p-4tt4IyEacsjY&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    <!-- registerSw script => required for push notifications *start*-->
    <script>
      const registerSw = async () => {
    if ('serviceWorker' in navigator) {
        const reg = await navigator.serviceWorker.register('sw.js');
        initialiseState(reg)

    } else {
        console.log("You can't send push notifications")
    }
};

const initialiseState = (reg) => {
    if (!reg.showNotification) {
        console.log('Showing notifications isn\'t supported');
        return
    }
    if (Notification.permission === 'denied') {
        console.log('You prevented us from showing notifications');
        return
    }
    if (!'PushManager' in window) {
        console.log("Push isn't allowed in your browser");
        return
    }
    subscribe(reg);
}

function urlB64ToUint8Array(base64String) {
    const padding = '='.repeat((4 - base64String.length % 4) % 4);
    const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');

    const rawData = window.atob(base64);
    const outputArray = new Uint8Array(rawData.length);
    const outputData = outputArray.map((output, index) => rawData.charCodeAt(index));

    return outputData;
}

const subscribe = async (reg) => {
    const subscription = await reg.pushManager.getSubscription();
    if (subscription) {
        sendSubData(subscription);
        return;
    }

    const vapidMeta = document.querySelector('meta[name="vapid-key"]');
    const key = vapidMeta.content;
    const options = {
        userVisibleOnly: true,
        // if key exists, create applicationServerKey property
        ...(key && {applicationServerKey: urlB64ToUint8Array(key)})
    };

    const sub = await reg.pushManager.subscribe(options);
    sendSubData(sub)
};

const sendSubData = async (subscription) => {
    const browser = navigator.userAgent.match(/(firefox|msie|chrome|safari|trident)/ig)[0].toLowerCase();
    const data = {
        status_type: 'subscribe',
        subscription: subscription.toJSON(),
        browser: browser,
    };

    const res = await fetch('/webpush/save_information', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'content-type': 'application/json'
        },
        credentials: "include"
    });

    handleResponse(res);
};

const handleResponse = (res) => {
    console.log("res status"+res.status);
};

registerSw();
    </script>
<!-- registerSw script => required for push notifications *end*-->
{% endblock %}