{% extends 'clientpage/base.html' %}
{% block content %}
<style>
.parallax{
    background-image: url("{{ drive.image.url }}");
    
  min-height: 400px; 
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

   <div class="w3-display-container parallax">
    <div class="w3-display-middle" style="background: rgba(255,255,255,0.8);">
        <div class="w3-container">
        <h1 class="w3-xlarge">{{ drive.name|upper}}</h1>
        </div>
    </div>
    
    </div>
        <div class="w3-container w3-padding-32" style="margin:auto;max-width:800px;">
        <p class='w3-large'>{{ drive.description }}</p>
        <p class="w3-small">Mandatory Covid test required if visiting facility</p>
        <br>
            <a href="{% url 'liveenquiry' id=drive.id %}" class='w3-button w3-grey w3-bar-item w3-block'>Urgent Enquiry</a>
            <br>
            <a href="{% url 'appointment' id=drive.id  %}" class='w3-button w3-grey w3-bar-item w3-block'>Schedule Appointment</a>
            <br>
             <a href="{% url 'covid' %}" class='w3-button w3-grey w3-bar-item w3-block'>Covid X-ray Test</a>

    </div>

    <div class="w3-container w3-grey w3-padding-32">
            <p class="w3-large"><i class="fa fa-clock-o"></i> {{ drive.timeopen }} to {{ drive.timeclose}} </p>
            <p class="w3-large"><i class="fa fa-map-marker"></i> {{ drive.address }} </p>
    
    </div>

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "4c29dd04-0a2f-44a5-9ee0-d0c137bfb581", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "2c72cd20-35be-4c28-99a3-9e666abe13fd", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
{% endblock %}